.page-title {
    color: darkmagenta;
    font-size: 5rem;
    text-align: center;
    width: 300px;
    height: 300px;
    background: rgb(red, green, blue);
    font-size: 2rem;
    color: white;
    padding: 2rem;
    border: 1rem solid crimson;

}

.purple-border {
    border: 2rem solid purple;
     
}