.page-title {
    color: darkmagenta;
    font-size: 5rem;
    text-align: center;
    width: 300px;
    height: 300px;
    background: rgb(red, green, blue);
    font-size: 2rem;
    color: white;
    padding: 2rem;
    border: 1rem solid crimson;

}

.purple-border {
    border: 2rem solid purple;
     
}
.acting {
    background-image: url("file:///Users/lulu/Desktop/acting1.gif");
    left: 50px;
    top: 50px;
    z-index: 900;
.box {
    width: 200px;
    height: 200px;
    background: purple;
    margin: 1rem;
}

body h1 {
    color: mediumblue;
}

p {
    color: magenta;
}

#special-box {
    color: white;
    background: lightpink;
    margin: 1rem;
}

.box {
    width: 200px;
    height: 200px;
    background: purple;
    margin: 1rem;
}

.funky-border {
    border: 1rem dashed magenta;
}

.absolute {
    border: 1rem dotted greenyellow;
    width: unset;
    height: unset;
    background: turquoise;
    position: static; 

    bottom: 100px;
    top: 100px;
    right: 100px;
    left: 200px;
}
.relative {
    position: relative;
    left: 100px;
    top: 300px;
    background: blue;
    width: 50px;
    height: 50px;
}
.box {
    width: 100px;
    height: 100px;
    border: 1rem green;
    margin: 1rem;  
}
.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: lightskyblue;
}
img {
    max-width: 10rem;
}