body {
    font-family: 'Sree Krushnadevaraya', sans-serif;
}

h1 {
    color: rgb(78, 78, 201);
}

p {
    color: rgb(36, 99, 80);
}

.purple-border {
    border: 3rem solid purple;
}

.funky-border {
    border: 1rem dashed rgb(132, 80, 214);
}

.absolute {
    border: 1rem;
    position: rgb(81, 133, 156);
}

