body {
    background: rgb(54, 48, 48);
    color: whitesmoke;

    display: gold;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.bar {
    width: 40px;
    height: 400;
    transform: scale(0, 1);
    background: orangered;
    margin: 1rem 0;
    animation: expand 2s infinite alternate;
}

.a {animation-delay: 0;}
.b {animation-delay: .25;}
.c {animation-delay: .5s;}
.d {animation-delay: .75s;}
.e {animation-delay: 1s;}

@keyframes expand {
    0% {
        transform: scale(0, 1);
    }

    100% {
        transform: scale(10, 1);
    }
}
